*.exe
*.dcu
*.res
antiHacking/__history
*.local
*.identcache
cloudComputing/__history
drawingGraphics/__history
externalInterfaces/__history
logDebugging/__history
multiThreaading/__history
multipleLanguages_FMX/__history
skinning/__history
AnimationTest/__history
Drag_and_Drop/__history
Drag_and_Drop_Object/__history
Firemonkey/BirdAnimation/__history
GDI/__history
OpenGL/__history
pointer/__history
